@using Microsoft.AspNet.Identity
@using GroceryHome.Models
@if (CustomerLoginStatus.IsLogin)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + CustomerLoginStatus.CustomerUser + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Đăng xuất", "Logout", "Account", routeValues: null, htmlAttributes: new { status = "Logout" })
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Đăng ký", "CustomerRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "CustomerLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
