@using GroceryHome
@model List<tbl_GioHang_SanPham>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var models = Model;
}

<h2>Giỏ Hàng</h2>

<div class="box-body">
    <table id="mytable" class="table table-bordered table-striped">
        <thead>
            <tr style="background-color:#1b7ab8;color:white">
                <th class="text-center" width="40px">STT</th>
                <th class="text-center">Tên sản phẩm</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Đơn giá</th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Ngày thêm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var STT = 1;
                foreach (var item in models)
                {
                    <tr>
                        <td>@STT</td>
                        <td>@item.TenSP</td>
                        <td>@item.SoLuong</td>
                        <td>@item.DonGia</td>
                        <td>@(item.ThanhTien.ToString())</td>
                        <td>@(item.NgayThem?.ToString("dd/MM/yyyy"))</td>
                        <td>
                            <a href="#" onclick="XoaSPGioHang(@item.Id)">Xóa</a>
                        </td>
                    </tr>
                    STT++;
                }
            }
        </tbody>
    </table>
</div>
@{
    if (models.Count != 0)
    {
        <button onclick="btnDatHang(@models[0].IdGioHang)">Đặt hàng</button>
    }
    else
    {
        <b>Giỏ hàng trống!</b>
    }
}


<script>
    function XoaSPGioHang(id) {
        $.ajax({
            url: '@Url.Action("XoaSPGioHang","Home")',
            data: { id: id },
            success: function (data) {
                location.reload(true);
         
                alert("Xoá thành công");
                
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //some errror, some show err msg to user and log the error  
                alert("Lỗi không thể xóa");

            }

        });
    }


    function btnDatHang(id) {
        $.ajax({
            url: '@Url.Action("DatHang","Home")',
            data: { id: id },
            success: function (data) {
                alert("Đặt hàng thành công");
                location.reload(true);
            },
            error:function (xhr, ajaxOptions, thrownError){
                //some errror, some show err msg to user and log the error  
                alert(xhr.responseText);

            }

        });
    }
</script>
